%h1 商品一覧
%p 商品マスタの一覧です。画像をクリックして商品情報を編集できます。
.row
  - @products.each do |product|
    .col-md-4.mb-3
      = link_to admins_product_path(product), class: 'product__product-detail-link' do
        .card
          - if product.image.attached?
            = image_tag product.image, class: 'card-img-top product__product-card-image'
          - else
            = image_tag 'no_image.png', class: 'card-img-top product__product-card-image'
          .card-body
            .cart-title
              = product.name
              - if product.published?
                %span.badge.text-bg-primary 公開
              - else
                %span.badge.text-bg-secondary 非公開
            %dl
              %dt 価格(税込)
              %dd= number_to_currency product.price_with_tax
              %dt= Product.human_attribute_name(:price)
              %dd= number_to_currency product.price
              %dt 消費税額
              %dd= number_to_currency product.tax
            %p.card-text= truncate(simple_format(product.description, sanitize: true), escape: false, length: 140)
