%h1= @product.name
.row
  .col-md-4
    - if @product.image.attached?
      = image_tag @product.image.variant(:thumb), class: 'products-show__img'
    - else
      = image_tag 'no_image.png', class: 'products-show__img'
    %dl
      %dt= @product.name
      %dd= "¥ #{@product.price_with_tax}(税込)"
      %dd= "消費税: ¥ #{@product.tax}"
      %dd= "商品価格: ¥ #{@product.price}(税抜)"
    = link_to '編集する', edit_admins_product_path(@product), class: 'btn btn-light border'

  .col-md-8
    = simple_format @product.description, sanitize: true
