%h1= @product.name
.row
  .col-md-4
    - if @product.image.attached?
      = image_tag @product.image, class: 'product__product-image'
    - else
      = image_tag 'no_image.png', class: 'product__product-image'
    %dl
      %dt= @product.name
      %dd= "¥ #{@product.price_with_tax}(税込)"
      %dd= "消費税: ¥ #{@product.tax}"
      %dd= "商品価格: ¥ #{@product.price}(税抜)"

  .col-md-8
    = simple_format @product.description, sanitize: true
