%h1= @product.name
%p= "#{@product.name}の商品紹介ページ"
.row
  .col-md-4
    = image_tag @product.image.variant(:thumb), class: 'product__product-image'
    %dl
      %dt= @product.name
      %dd= "#{number_to_currency @product.price_with_tax}(税込)"
      %dd= "消費税: #{number_to_currency @product.tax}"
      %dd= "商品価格: #{number_to_currency @product.price}(税抜)"

  .col-md-8
    = simple_format @product.description, sanitize: true
