%h1= @product.name
%p= "#{@product.name}の商品紹介ページ"
.row
  .col-md-3
    = image_tag @product.image.variant(:thumb), class: 'product__product-image'
    %dl
      %dt= @product.name
      %dd= "#{number_to_currency @product.price_with_tax}(税込)"
      %dd= "消費税: #{number_to_currency @product.tax}"
      %dd= "商品価格: #{number_to_currency @product.price}(税抜)"

  .col-md-6
    = simple_format @product.description, sanitize: true

  - cart_items = current_cart.cart_items.default_order
  .col-md-3.bg-light.p-4.h-100
    .cart_item__details
      - if cart_items.present?
        %dl.p-3
          %dt.mb-1 カートの合計金額
          %dd= "支払い総額(税込): ¥#{current_cart.total_payment}"
          %dd.text-muted= "商品合計(税抜): ¥#{current_cart.total_price}"
          %dd.text-muted= "消費税合計: ¥#{current_cart.total_tax}"
          %dd.text-muted= "代引き手数料: ¥#{current_cart.cod_fee}"
          %dd.text-muted= "配送手数料: ¥#{current_cart.shipping_fee}"
    %ul.cart_item__list.list-group
      - cart_items.each do |cart_item|
        %li.list-group-item.d-flex.justify-content-between.align-items-center
          .fw-bolder= cart_item.product.name
          .fw-light= "¥#{cart_item.price}(税抜)"
          .cart-item__list-links
            %span.badge.bg-primary.rounded-pill= cart_item.quantity
            = link_to product_cart_item_path(@product, cart_item), class: 'btn btn-sm btn-danger', data: { turbo_method: :delete } do
              %i.bi.bi-trash
    .cart_item__form
      = simple_form_for [@product, @cart_item], url: @cart_item.new_record? ? nil : product_cart_item_path(@product, @cart_item) do |f|
        = f.input :product_id, as: :hidden, input_html: { value: @product.id }
        = f.input :quantity
        = f.button :button, class: 'btn btn-secondary' do
          %i.bi.bi-cart-check
          カートに入れる
