%nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    = link_to 'さくらマーケット', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        - if user_signed_in?
          %li.nav-item
            = link_to '商品一覧', products_path, class: 'nav-link'
          %li.nav-item
            = link_to 'カートを見る', cart_path, class: 'nav-link'
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"data-bs-toggle" => "dropdown", :href => "#", :role => "button"}= current_user.email
            %ul.dropdown-menu
              %li
                %a.dropdown-item{:href => "#"} 購入履歴
              %li
                - if user_signed_in? && current_user.address.present?
                  = link_to '配送先', address_path, class: 'dropdown-item'
                - else
                  = link_to '配送先住所の登録', new_address_path, class: 'dropdown-item'
              %li
                = link_to 'ログアウト', destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete }
        - else
          %li.nav-item
            = link_to '商品一覧', products_path, class: 'nav-link'
          %li.nav-item
            = link_to 'カートを見る', '#', class: 'nav-link'
          %li.nav-item
            = link_to '新規登録', new_user_registration_path, class: 'nav-link'
          %li.nav-item
            = link_to 'ログイン', new_user_session_path, class: 'nav-link'
